# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Mac
.DS_Store

# Data (optional)
*.csv
!data/processed/panel/Final_Panel_Dataset_with_DTM_ETM.csv
!data/processed/modeling/panel_cleaned.csv
!data/processed/modeling/correlation_matrix.csv

# Outputs
outputs/
!outputs/results/
!outputs/results/*.csv
!outputs/results/*.txt
